/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/misc.xml
/.idea/modules.xml
/.idea/PokeLifeRepo.iml
/.idea/vcs.xml
/.idea/
/target/test-classes/PokeLifeBotByMetin/tests/BaseTest.class
/target/test-classes/PokeLifeBotByMetin/tests/LogInTest.class
/target/
